.navbar {
  background-color: #2c3e50;
  height: 70px;
  display: flex;
  justify-content: space-between; /* 关键：左 Logo 右 Links */
  align-items: center;
  padding: 0 15% 0 10%; /* 左右留出 10% 的空白 */
  position: sticky;
  /* top: 100; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  color: antiquewhite;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
}
/* -------------------------------- NAV LINKS ------------------------------- */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a:hover {
  color: #3498db;
}
