/* ---------------------------------- 全局样式 ---------------------------------- */
body {
  width: 100%;
}
/* ---------------------------------- 消除边距 ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
